body{margin:0;padding:0;font-family:'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:20px}
.contract-whist-container {height: 100%;flex: 1;}
.contract-whist{width:100%;height:100%;background:url(/bg.jpg);background-size:cover;color:#fff;display:flex;flex-direction:column;position: relative;}
#root {overflow: hidden;position: absolute;width:100%;height:100%;display: flex;}
.connection-status.red {background: #c73030;}
.connection-status { color:white; width: 100%;padding: 15px 20px;box-sizing: border-box;}
.connection-status.green {background: #0a8b3e;}
.title{text-align:center;font-size: 30px;font-weight:700;letter-spacing:-1px;position: absolute;top: 27px;left: 31px;}
.connection{text-align:center;padding:30px 0}
.login{position:absolute;left:50%;width:550px;margin-left:-275px;top:50%;height:400px;margin-top:-200px;background:#ffffff4f;color:#000;border-radius:5px;text-align:left;padding:30px;box-sizing:border-box;display:flex;flex-direction:column;justify-content:center}
.subtitle{font-weight:700;text-transform:uppercase;font-size:23px}
.input-box{margin:20px 0 0;display:flex;flex-direction:column}
label{font-size:16px;padding-bottom:10px}
input[type="text"]{border:none;padding:10px 15px;outline:none;font-family:'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;font-size:16px;border-radius:4px;max-width:300px;box-sizing:border-box}
button{border:none;padding:10px 15px;outline:none;font-family:'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;font-size:16px;border-radius:4px;background:#fff;cursor:pointer;margin:5px 0 0;text-align:center;align-self:flex-start;min-width:75px}
button:hover{opacity:.7}
button.danger{background:#d66666}
.leave_game{position:absolute;top: 15px;right: 40px;}
.login button{margin-top:40px}
.info{font-size:14px;background:#ffffff61;padding:15px 20px;border-radius:4px;color:#000;margin:33px;display:grid;grid-template-columns:auto auto;column-gap:20px}
.game_play{flex:1;display:flex;flex-direction:column}
.control_panel{background:#ffffff2e;border-top:5px solid #000;padding:30px;font-size:16px;height: 150px;position:relative;display:flex;}
.table{flex:1;position:relative;display: flex;flex-direction: column;align-items: center;}
.cards_hand{height:100%;display:flex;flex: 1;width:auto;flex-wrap:wrap;align-items: center;justify-content: space-around;}
.actions{color: #fff;padding: 10px 10px 0;font-size:14px;}
.actions label{font-size:14px;}
.actions input[type="text"], .actions select{min-width: 0; width: 100%; font-size: 14px;padding: 7px 11px;}
.actions button {font-size:14px;padding: 7 10px;min-width: 60px;margin: 20px 0 0;}
.cards_hand svg.card{max-height:100%!important;max-width:100%!important;border-radius:7px;border:3px solid transparent;box-sizing:border-box;width:100%!important}
.feedback{font-style:italic;font-size:12px}
select{border:none;padding:10px 15px;outline:none;font-family:'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;font-size:16px;border-radius:4px;box-sizing:border-box}
.cards_hand div,.cards_hand figure{overflow:hidden;position:relative;width: 95px;height: 137px;margin: 0;}
.cards_hand.selectable div:not(.invalid) svg.card:hover{cursor:pointer;border-color:red}
.black_square{width:70%;background:#0000004f;flex: 1;}
.my_area{position:absolute;bottom: 35px;left:50%;width: 315px;margin-left: -158px;text-align:center;font-weight:700;display:flex;flex-direction:column-reverse;align-items:center;}
.edit, .save-edit {fill: white;height: 15px;margin: 5px 10px;position: absolute; cursor: pointer; }
input.edit-input[type="text"] {font-size:12px;margin-bottom: 10px;width: 150px;}
.player_area{position:absolute;width:100px;text-align:center;font-weight:700}
.player_name{max-width: 200px;overflow: hidden;text-overflow: ellipsis;}
.player_arrangement.players_2 .player_area{left:50%;margin-left:-50px;top: 25px;}
.player_arrangement.players_3 .player_area:nth-child(1){left:15%;margin-left: -70px;top: 25px;width:315px;text-align:left;}
.player_arrangement.players_3 .player_area:nth-child(2){left:85%;margin-left:-230px;top: 25px;width:315px;display:flex;flex-direction:column;align-items:flex-end;text-align: right;}
.player_arrangement.players_4 .player_area:nth-child(1){top:50%;left:15%;margin-left: -125px;text-align:right;display:flex;width:315px;align-items:center;}
.player_arrangement.players_4 .player_area:nth-child(2){left:50%;margin-left: -158px;top: 25px;width: 315px;display: flex;flex-direction: column;align-items: center;}
.player_arrangement.players_4 .player_area:nth-child(3){top:50%;left:85%;margin-left: -200px;text-align:left;display:flex;width:315px;align-items:center;flex-direction:row-reverse;}
.player_arrangement.players_5 .player_area:nth-child(1){top:55%;left:15%;margin-left: -130px;display:flex;width:315px;align-items:center;text-align: right;}
.player_arrangement.players_5 .player_area:nth-child(2){top: 25px;left: 30%;width: 315px;display: flex;flex-direction: column;align-items: center;margin-left: -158px;}
.player_arrangement.players_5 .player_area:nth-child(3){top: 25px;left: 70%;width: 315px;display: flex;flex-direction: column;align-items: center;margin-left: -158px;}
.player_arrangement.players_5 .player_area:nth-child(4){top:55%;left:85%;margin-left: -200px;display:flex;width:315px;align-items:center;flex-direction:row-reverse;text-align: left;}
.player_name.in_play{color:#f36363}
.player_name.in_play:before{content: "\2022";display: block;font-size: 40px;vertical-align: middle;margin: -33px 0 -13px;}
.player_card_in_play{width:100px;height:135px}
.card_placeholder{background:#b9b9b9a8;width:100%;height:100%;border-radius:7px}
.my_area .player_card_in_play{margin:60px 0}
.player_arrangement.players_5 .player_area:nth-child(1) .player_card_in_play{margin-left:110px}
.player_arrangement.players_5 .player_area:nth-child(2) .player_card_in_play{margin:60px 0}
.player_arrangement.players_5 .player_area:nth-child(3) .player_card_in_play{margin:60px 0}
.player_arrangement.players_5 .player_area:nth-child(4) .player_card_in_play{margin-right:80px}
.player_arrangement.players_2 .player_area .player_card_in_play{margin:60px 0}
.player_arrangement.players_3 .player_area:nth-child(1) .player_card_in_play{margin: 60px 100px;}
.player_arrangement.players_3 .player_area:nth-child(2) .player_card_in_play{margin:60px 115px}
.player_arrangement.players_4 .player_area:nth-child(1) .player_card_in_play{margin-left:100px}
.player_arrangement.players_4 .player_area:nth-child(3) .player_card_in_play{margin-right:80px}
.player_arrangement.players_4 .player_area:nth-child(2) .player_card_in_play{margin:60px 0}
.cards_hand .invalid{opacity:.1}
.bid_tricks{font-size:14px;font-weight:400}
.scores{display:flex;flex-direction: column;color: #fff;font-size: 14px;margin-bottom: 20px;}
.deltas,.leaderboard{border-radius:4px;color: #fff;}
.deltas {margin-bottom:25px;}
.score-title{font-weight:700;margin-bottom:7px}
.score-row{display:flex;justify-content:space-between;border-bottom:1px dotted;margin-bottom: 7px;}
.score-row-points{font-weight:700}
.deltas .score-row-points{color:#1d6f1d}
.deltas .score-row-points.negative{color:#b32727}
.title small{font-size:16px;font-weight:400}
.error {color: #9c3535;font-size: 16px;font-weight: bold;padding: 20px 0 0;}
.gap {height: 90px;}
.log {background: black;display: flex;height: 100%;flex-direction: column;}
.log-item {color: white;font-size: 14px;padding: 10px;}
.log-item.log-border-bottom {border-bottom: 2px solid white;padding-bottom: 15px;background: black;}
.log-date {flex-basis: 100%;color: grey;}
.log-name {font-weight: bold;color: green;display: inline;}
.log-action {padding-left: 3px;display: inline;}
.log-scrollable{overflow-y:scroll;flex: 1;padding-top: 10px;padding-bottom: 40px;overflow-x: hidden;}
.react-resizable {position: relative;}
.react-resizable-handle {position: absolute;width: 20px;height: 100%;box-sizing: border-box;padding: 0 3px 3px 0;top: 0;cursor: ew-resize;left: 0;}
.countdown { background: white;width: 100%;height: 20px;border-radius: 4px;margin: 30px 0;}
.countdown span {display: inline-block;background: green;height: 100%;border-radius: 4px;}

@media only screen and (max-height: 830px) {
  .contract-whist { zoom: 0.9; }
}

@media only screen and (max-height: 750px) {
  .contract-whist { zoom: 0.8; }
}

@media only screen and (max-width: 1300px) {
  .contract-whist { zoom: 0.9; }
}

@media only screen and (max-width: 1175px) {
  .contract-whist { zoom: 0.8; }
}

@media only screen and (max-width: 1100px) {
  .react-resizable { width: 180px !important; }
  .log-item { font-size: 12px; }
}

@media only screen and (max-width: 1000px) {
  .control_panel { height: 240px; }
  .cards_hand{justify-content:flex-start;}
  .cards_hand div, .cards_hand figure { width: 97px;height: 133px;}
}

@media only screen and (max-width: 800px), only screen and (max-height: 650px) {
  .contract-whist { zoom: 1; }
  .react-resizable { width: 100% !important; }
  .gap{display:none}
  .black_square{display:none}
  .player_arrangement{display:flex}
  .player_arrangement .player_area{position:relative!important;width:auto!important;flex-direction:column!important;margin:0!important;left:initial!important;top:initial!important;text-align:center!important;margin-right:15px!important}
  .my_area{position:relative!important;width:auto;flex-direction:column;margin:0;left:initial;margin-right:15px!important;bottom:0}
  .table{background:#0000004f;flex-direction:row;justify-content:center}
  .player_card_in_play{margin:60px 0 0!important}
  .player_arrangement .player_area:last-child{margin-right:0!important}
  .info{margin:0}
  .contract-whist, #root{position:relative;height:initial;display:block}
  .table{height:300px;flex:initial}
  .control_panel{flex-direction:column;height: auto;min-height: 150px;}
  .actions{margin:20px 0;width:auto}
  .login {position: relative;left: initial;margin: 0;top: initial;height: auto;}
  .connection {display: flex;justify-content: center;padding: 50px 0;}
  .cards_hand div, .cards_hand figure { margin: 0 15px 15px 0;}
  .log-item { font-size: 14px; }
  .react-resizable-handle {display:none;}
}

@media only screen and (max-width: 600px), only screen and (max-height: 650px) {
  .connection { flex-direction: column;}
  .title {position: relative;top: 0;left: 0;margin: -20px 0 10px;}
  .leave_game {position: relative;right: 0;top: 0}
  .table {font-size: 16px;padding: 15px 0px !important;flex-direction: column;height: auto;}
  .player_card_in_play {margin: 20px 0 0 !important;}
  .my_area {margin-bottom: 20px !important;}
  .player_arrangement {flex-wrap: wrap;padding: 0 20px;justify-content: center;}
  .player_arrangement .player_area {padding-bottom: 15px !important;}
  input[type="text"] {max-width: 100%;}
}
